@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}
::-webkit-scrollbar{
    display: none;
}
.rich-text {font-size: 15px;color: #7a7b7d;}

.rich-text p { margin-bottom: 16px;}

.rich-text h1 {font-size: 36px; font-weight:  800; color: #252525; margin: 16px ;}
 .rich-text h2 {font-size: 24px; font-weight:  700; color: #252525; margin: auto;}
 .rich-text h3 {font-size: 18px; font-weight:  600; color: #333;margin: auto;}
 .rich-text h4 {font-size: 16px; font-weight: 500; color: #444444;margin: auto;}
 .rich-text h5 {font-size: 14px; font-weight: 400; color: #555;margin: auto;}
 .rich-text h6 {font-size: 12px; font-weight: 300; color: #666;margin: auto;}

 .rich-text strong {font-weight: 700;}

 .rich-text ol {margin-left:  30px; list-style-type: decimal;}
 .rich-text ul {margin-left:  30px; list-style-type: disc;}
 .rich-text li {margin-bottom: 8px;}

